/////////////////
// Lightbox /////
/////////////////

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-overflow-scrolling: auto;
    overflow: auto;

    .lightbox-close, .btn-close {
        color: $black;
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 45px;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            opacity: 0.8;
        }
    }

    .lightbox-content {
        position: relative;
        width: 600px;
        max-width: 90%;
        margin: 7% auto;
        padding: 15px 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        overflow-scrolling: touch !important;
        -webkit-overflow-scrolling: touch !important;
        apple-overflow-scrolling: touch !important;

        &.no-padding {
            padding: 0;

            .lightbox-body {
                padding: 0;
            }

            .content-body {
                padding: 15px 20px 30px 20px;
            }
        }

        img {
            max-width: 100%;
        }

        .header-title {
            h1 {
                font-size: 2.000em;
            }
        }
    }

    .lightbox-body {
        padding: 10px 0px;
        .content-body {
            p {
                margin-bottom: 0;
            }
        }
    }

    &.secondary-lightbox {
        .lightbox-body {
            padding: 80px 0;
            text-align: center;
        }
    }
    
    &.lightbox-loader {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);

        .lightbox-content {
            background-color: transparent;
            text-align: center;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;

            &:before {
                content: none;
            }

            img {
                width: 60px;
                opacity: 0.95;
                border: solid 2px #363636;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }
        }
    }

}

.lightbox-open { //add this to the body to enable scrolling when lightbox is open
    overflow: hidden !important;
    -webkit-overflow-scrolling: auto;

    .main { //make container scrollable
        overflow: auto;
    }

    .lightbox {
        position: fixed;
        overflow: auto;
        -webkit-overflow-scrolling: auto !important;
    }
}